* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-color: cornflowerblue;
    padding: 15px 0;
}


.container {
    width: 1000px;
    margin: 0 auto;
    
}



.row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.col-20 {
        width: 150px;
        height: 75px;
        background-color: cornflowerblue;
        border-radius:0% ;
}

.bg-darkblue {
    background-color: blue;
    padding: 50px 0;
}

.container-sm {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position:relative;
}

.col-100 {
    width: calc(100%/7);
    border: 1px solid black;
    background-color: pink;
    height: 200px;
    flex:wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
    padding: 10 px;
    color: lightgray;
}

.bg-grey {

}